.slice {
    padding: 5em 0;
}
*{
    position: relative;
}
h1, h3 {
    font-family: 'Campton Bold Italic';
    text-transform: uppercase;
}
h3 {
    font-size: 1.5em;
}

.title-shadow {
    position: absolute;
    padding: 3px;
    opacity: 0.3;
}
.title-container h1{
    font-size: 4em;
    margin-bottom: 0;
    text-align: left;
    margin-top: 0;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: transparent;
    
}
h4 {
    font-family: 'Campton SemiBold';
    font-size: 1.1em;
}
#nav{
    padding: 0px;
}
@font-face {
    font-family: 'Campton Bold Italic';
    src: url('../fonts/Campton/Campton-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Campton SemiBold';
    src: url('../fonts/Campton/Campton-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'TSTAR Mono Round';
    src: url('../fonts/TStarMono/TSTARMonoRoundRegular.otf') format('truetype');
}

html {
    background-color: #F8E5EB;

}
p{
    
    font-family: 'TSTAR Mono Round';
    font-size: 15px;
    text-align: left;
    
}
.background-lines-container {
    z-index: -1;
}
a {
    text-decoration: none;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    padding: 0 calc((100% / 11) - 7px);
  }
  .background-lines-container {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
  }
  .background-lines {
    width: calc(100% / 11);
    height: 100%;
    margin: auto;
    display: inline-block;
    border: 0.1px solid white;
  }
  #nav {
    padding: 0px;
    margin: 0;
  }
  
  #nav a {
    font-weight: bold;
    color: #2c3e50;
  }
  
  #nav a.router-link-exact-active {
    color: #42b983;
  }